<!DOCTYPE html>
  <html ng-app="myApp">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />


      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>

      <script src="app.js"></script>
      <!-- <script src="app.css"></script> -->

      </script>
    </head>

    <body>

      <div class="submit" ng-controller='submitController'>
        <h1>Dream-Cacher</h1>
        <form ng-submit="submit()">
          <div>
            <input type="text" placeholder="Title" ng-model="dream.title" />
            <input type="submit" id="submit" />
          </div>
          <div>
            <textarea class="dreamBody" style="width: 400px" type="text" placeholder="Body" ng-model="dream.body"></textarea>
          </div>
        </form>
      </div>

      <div class="submit" ng-controller='submitController'>
        <div ng-repeat="n in dreams" ng-model="dreams">
          <ul>
            <li>{{n.title}}</li>
            <li>{{n.body}}</li>
          </ul>
        </div>
      </div>



    </body>
  </html>
