<!DOCTYPE html>
  <html ng-app>
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />


      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>

      <!-- <script src="app.js"></script> -->
    </head>

    <body>
      <h1>Dream-Cacher</h1>
      <div ng-model="formCtrl">
        <form ng-submit type="text" ng-model="title">
      </div>
    </body>
  </html>
